/* registeredNavbar.css */

nav {
    background-color: #0095ff;
    background-color: #005862;
    background: linear-gradient(to bottom right, #00a6c3, #00cd6d);
    height: 7.5vh;
    width: 100vw;
    margin: auto;
    border-color: black;
    border-width: 5px;
    border: solid;
    position: fixed;
    top: 0;
    z-index: 1;
}

ul {
    padding-top: 0.75vh;
    margin-left: 5vw;
}

.navbarlink {
    display: inline;
    padding: 2.5vw;
}

.linkstyle {
    text-decoration: none;
    color: white;
    font-weight: bold;
}