.rank-list-item {
    display: list-item;
    list-style-position: inside;
}

li {
    display: list-item;
}

.containerstart {
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.906);
}

.startscreen {
    height: 100vh;
    width: 100vw;
}

.startrank {
    margin-left: 10vw;
    padding-top: 15vh;
    margin-right: 10vw;
    padding-bottom: 15vh;
    font-family: Andale Mono, monospace;
    color: white;
}

.startbutton {
    background-color: green;
    padding: 10px;
    color: white;
    font-size: 3vw;
    border-style: solid;
    border-width: 5px;
    border-radius: 500px;
    margin-left: 30vw;
    margin-top: 12vh;
    width: 20vw;
    height: 20vw;
    background: linear-gradient(to bottom right, #00a6c3, #00cd6d);
}

.choose {
    margin-left: 30vw;
    margin-top: 10vh;
}

.leftoption {
    margin-left: 15vw;
    background-color: white;
    padding: 10px;
    color: black;
    /*border-color: blueviolet;*/
    /*border-width: 2px;*/
    border-radius: 10px;
    margin-right: 0.5vw;
    border-style: solid;
    height: 35vh;
    width: 25vw;
    z-index: -1;
    background-color: #00a6c3;
}

.rightoption {
    background-color: white;
    padding: 10px;
    color: black;
    /*border-color: blueviolet;*/
    /*border-width: 2px;*/
    border-radius: 10px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-style: solid;
    height: 35vh;
    width: 25vw;
    z-index: -1;
    background-color: #00cd6d;
}

.optiontext {
    font-size: 1.5vw;
    font-weight: 800;
    color: white;
}

.reset {
    background-color: gray;
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
}

.reset:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 0.5s;
}

.resultlistitems {
    color: rgba(255, 255, 255, 0.587);
}