/* Home.css */

.containerhome {
    overflow-y: auto;
    /*background: linear-gradient(to bottom right, #abd4ff, #fff8c9);*/
    background-color: rgba(0, 0, 0, 0.906);
}

.homescreen {
    height: 100vh;
    width: 100vw;
}

.home {
    margin-left: 10vw;
    padding-top: 15vh;
}

.welcome {
    font-family: Andale Mono, monospace;
    color: #09426B;
    color: white;
    font-weight: bold;
}

.about {
    width: 80vw;
    height: 10vh;
    line-height: 25px;
    font-family: Andale Mono, monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.587);
}

.featurelist {
    width: 80vw;
    height: 20vh;
    margin-left: 1vw;
}

.features {
    display: inline-block;
    margin-right: 5vw;
    background-color: #6745ff;
    background: linear-gradient(to bottom right, #00a6c3, #00cd6d);
    height: 15vh;
    width: 20vw;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-family: Andale Mono, monospace;
    font-size: 1.5vw;
    padding-top: 4vh;
    font-weight: 900;
}

.featurestext {
    padding-left: 3vw;
    padding-right: 3vw;
}

.design {
    position: absolute;
    right: -15vw;
    bottom: -20vh;
}

.design2 {
    position: absolute;
    right: 5vw;
    bottom: -40vh;
}

.second {
    font-family: Andale Mono, monospace;
    color: #09426B;
    color: white;
    font-weight: bold;
    margin-top: 2.5vw;
}
