/* search.css */

.containersearch {
    overflow-y: auto;
    /*background: linear-gradient(to bottom right, #abd4ff, #fff8c9);*/
    background-color: rgba(0, 0, 0, 0.906);
}

.searchscreen {
    /*background: linear-gradient(to bottom right, #abd4ff, #fff8c9);*/
    height: 100vh;
    width: 100vw;
}

.search {
    margin-left: 10vw;
    padding-top: 15vh;
    color: white;
    font-family: Andale Mono, monospace;
}

input[type=text2]{
    padding: 10px;
    width: 80vw;
    border: solid;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 2vh;
    outline: none;
    background-color: rgb(223, 223, 223);
}

input[type=text2]:focus {
    border: 3px solid rgb(6, 167, 220);
    transition: 0.4s;
}

.submitSearch {
    background: linear-gradient(to bottom right, #00a6c3, #00cd6d);
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-left: 0.5vw;
    width: 5vw;
}

.submitSearch:hover {
    background-color: #fff48e;
    color: black;
    transition: 0.5s;
}

.resultslist {
    width: 80vw;
    margin-left: -2.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
}

.searchresultsbutton {
    height: 15vh;
    background: linear-gradient(to bottom right, #00a6c3, #00cd6d);
    border: none;
}

.itemtitle {
    font-weight: bold;
    color: white;
    font-size: 1.5vw;
    font-family: Andale Mono, monospace;
}

.itemcat {
    margin-top: -3vh;
    color: white;
    font-family: Andale Mono, monospace;
    font-size: 1vw;
}